<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.title</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <div class="container">
@*         @Html.Partial("_NavbarMenu")
 *@        <partial name="_NavbarMenu" />
        @RenderBody()
    </div>
    <script src="/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true" ></script>
    <script src="/customjs.js" asp-append-version="true"></script>
</body>
</html>