<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">NET 8</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Manager" asp-route-id="12">Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="HRDep">HR Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="HRManager">HR Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="BIDep">BI Department</a>
                </li>

            </ul>

            <div class="d-flex" role="search">
                <div class="grid">
                    <div>
                        welcome @User?.Identity?.Name
                        <a class="btn btn-outline-primary ms-2" asp-controller="Login" asp-action="Logout">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>