@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}


<h1>Error has Occurred</h1>
<p>@ViewBag.error</p>